html{
    font-size: 10px;
}


body{
    font-family: "Montserrat";
    font-size: 1.6rem;
}


.layaout{
    width: 100%;
    min-height: 100%;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #4884A6;
    
}

.layaout__main{
    min-width: 40rem;
    border: 2rem;
    

    background-color: white;
    box-shadow: 0 0 15px #6495B3;
    border-radius: 25px;
}

.main__user{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-bottom: 3rem;
    background-color: #6495B3;
    border-radius: 20px 20px 0 0;
   
   
}

.user__container-img{
    width: 13rem;
    height: 13rem;
    background-color: white;
    padding: 0.5rem;
    margin-top: 7rem;
    margin-bottom: 2rem;

    border-radius: 13rem;
}

.user__img{
    border-radius: 13rem;
    width: 100%;
    height: 100%;
}


.user__content{
    text-align: center;
    margin-bottom: 0.5rem;

}

.user__name{
    color: white;
    font-weight: 600;
    margin-right: 0.3rem;
    cursor: pointer;
}

.user_nick, user__city{
    color: white;
    font-weight: 500;
    opacity: 0.6;
}

.main__followers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1.5rem;
    margin: 3rem 0;
    text-align: center;
    
}

.followers__follow{
    border: 2px solid transparent;
    border-radius: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 300ms ease-in;
    width: 33.3%;

}

.followers__follow:hover{
    border: 2px solid #A8C0CA;
}

.follow__number{
color: #CCB6A3;
font-size: 2rem;
font-weight: 700;
}

.follow__subtile{
color: black;
font-weight: 600;
font-size: 1.3;
}